<mat-toolbar color="primary">
  <button mat-icon-button aria-label="nav-expand">
    <mat-icon>menu</mat-icon>
  </button>
  <span> Gunnars Kogebog</span>
  <span class="nav-spacer"></span>
  <mat-icon>restaurant</mat-icon>

  <div class="nav-links mx-5">
    <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
    <span class="nav-spacer"></span>
    <a routerLink="/create-recipe" routerLinkActive="active">Create Recipe</a>
    <span class="nav-spacer"></span>
  </div>
</mat-toolbar>
