@use 'assets/sass/colors' as colors;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-utilities";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// TODO: Find a better place for this style override

.snackbar-primary {
  background-color: colors.$primary;
}
